@charset "utf-8";
body {	height: 100%;	font: 12px "微软雅黑";	color: #51555C;	padding: 0;	margin: 0;}
.bg{ background:url(../../images/jjq.png) center center no-repeat; width:1100px; height:220px; position:relative;}
.msgtxt{ position:absolute; left:60px; top:184px;}
.msgtxt span{ color:#000;}
.abs{ position:absolute;}
.huxing1{  left:393px; top:15px;color:#000;}
.huxing1 .v{ width:57px; height:25px; line-height:25px; text-align:center; display:block; padding-right:25px; cursor:pointer;}
.huxing1 span{ width:57px; height:25px; line-height:25px; text-align:center; display:block; padding-right:25px; cursor:pointer;}
.huxing1 .shilist{ border:1px solid #cacaca; width:auto; margin-left:-1px; margin-top:1px; border-top:none; display:none; z-index:99;}
.huxing1 .shilist span{ background:#fff;}
.huxing1 .shilist span:Hover{ background:#e9e9e9;}

.huxing2{ left:506px; }
.huxing3{ left:618px; }
.mianji{ width:101px; height:27px; left:795px; top:14px;*top:13px; }
.mianji input{ height:21px;width:101px;   text-align:center; }

.clear{ clear:both;}
.city{  left:393px; top:56px;color:#000;}
.city .v{ width:101px; height:25px; line-height:25px; text-align:center; display:block; padding-right:25px; cursor:pointer;}
.city span{ width:101px; height:25px; line-height:25px; text-align:center; display:block; padding-right:25px; cursor:pointer;}
.city .shilist{ border:1px solid #cacaca; width:auto; margin-left:-1px; margin-top:0px;  display:none; width:126px; background:#fff;}
.city .shilist span{ background:#fff;width:42px; height:25px; line-height:25px;padding-right:0px; float:left;}
.city .shilist span:Hover{ background:#e9e9e9;}

.xiaoqu{ top:55px; left:537px; width:380px;}
.xiaoqu input{ width:370px; padding-left:10px; height:21px;}

.chenghu{ top:179px; left:392px; width:124px;}
.chenghu input{ width:114px; padding-left:10px; height:21px;}


.shouji{ top:179px; left:593px; width:124px;}
.shouji input{ width:114px; padding-left:10px; height:21px;}

.yanzhengma{ top:179px; left:814px; width:104px;}
.yanzhengma input{ width:94px; padding-left:10px; height:21px;}

.anniu{ width:82px; line-height:27px; height:27px; text-align:center; left:726px; color:#89c031; top:179px; cursor:pointer;}

.fengge{ height:25px; width:515px; left:393px; top:95px;  }


.icon{height:20px; width:60px;  top:5px; cursor:pointer; line-height:20px; padding-left:15px;  }
.ion{ background:url(../../images/on.png) left center no-repeat;}
.ioff{background:url(../../images/off.png) left center no-repeat;}
.i1{ left:9px;}
.i2{ left:107px;}
.i3{ left:206px;}
.i4{ left:305px;}
.i5{ left:415px;}

.taoxi{ height:25px; width:515px; left:393px; top:136px;  }

#jiage{ width:145px; height:45px; line-height:45px; text-align:center; font-size:24px; color:#F36; left:937px; top:39px;  }
.bjbtn{ width:144px; height:30px; color:#fff; background:#e1322c; text-align:center; font-size:16px; left:938px; top:136px; line-height:30px; cursor:pointer;}
.bjbtnrg{ width:144px; height:30px; color:#fff; background:#e1322c; text-align:center; font-size:16px; left:938px; top:176px; line-height:30px; cursor:pointer;}
.bjbtnrg a{color:#fff;text-decoration:none;}